<h1>{{title}}</h1>
<div class="sceneIt">
    <span><h2>{{username}}</h2></span>
    <h3>Movies</h3>
        {{#each usermovies}}
            <div class="card {{Movie.id}}" style="width: 18rem";>
                <img class="card-img-top" src="{{Movie.poster}}" alt="Movie Poster">
                <div class="card-body">
                    <h5 class="card-title">{{Movie.title}}</h5>
                    <p class="card-text">{{Movie.released}}</p>
                    <button id="remove" class="btn btn-primary">Remove</button>
                    <button id="aintsceneit" class="btn btn-primary">Ain't Scene It</button>
                </div>
			</div>
        {{/each}}
</div>

{{! Click listener to toggle Scene It and Ain't Scene Yet buttons true/false}}
<!--
<script>
    $("#remove").click(function() {
        alert("Clicked");
    });
</script>
-->

<script>
$("#remove").on('click', function(){
    UPDATE Usermovies
    SET sceneitlist = !sceneitlist 
    RETURNING *;});   
</script>




